{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block head %}
    {{ super() }}
    <style>


    </style>
{% endblock %}
{% include 'Shared/HeaderContent.html' %}
{% block content %}
    <div class="row tableDishes">
        {% if data %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                {% for dishes in data %}
                    <tr>
                    <input id="idItem" name="idItem" type="hidden" value="">
                    <input id="descriptionItem" name="descriptionItem" type="hidden" value="">
                        <td>{{ dishes.name }}</td>
                        <td>{{ dishes.description }}</td>
                        <td>{{ dishes.price }}€</td>
                        <td><img src="{{ dishes.imagePath }}" style="height:200px;width: 200px"><input id="pathImage" name="pathImage" type="hidden" value=""></td>
                        <td>
                            <button id="CartButton" class="button cart"
                                    onclick="OpenPreviewCart({{ dishes.id }}, {{ dishes.price }}, '{{ dishes.name }}', '{{ dishes.imagePath }}', '{{ dishes.description }}')">
                                Add To Cart
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="CartModalItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add to cart:  <label id="cartName"></label></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label id="descriptionItem" for="quatityitem" class="col-sm-2 col-form-label">Quantity</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="quatityitem" placeholder="Enter quantity">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <label id="priceItem"></label>
                            <input type="hidden" id="priceItem">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Total</label>
                        <div class="col-sm-10">
                            <label id="TotalItem"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <img id="previewToCart" src="" style="height:200px;width: 200px; position: relative; left: 140px;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="addCart" type="button" onclick="AddCartItem()" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


